.wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1140px;
}

.logo {
  margin-top: 70px;
  height: 300px;
  display: flex;
  align-items: center;
}

.logo__left {
  text-align: right;
  width: 43%;
  padding-right: 15px;
}

.logo__right {
  width: 57%;
  padding-left: 15px;
}

.logo__img {
  height: 100%;
}

.logo__text {
  font-size: 104px;
  font-weight: bold;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.info {
  text-align: center;
  margin-top: 80px;

  .container {
    display: flex;
    align-items: center;
  }

  p {
    margin: 0 auto;
    color: #333;
    line-height: 1.4;
    font-size: 22px;
  }
}
